



<!-- <div class="jumbotron text-center">
  <h4>'isLoading' = {{isLoading}}</h4>
</div> -->


    <router-outlet>
        <div class="container-fulid">
            <div class="row header">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- <input type="text" placeholder="Search here"> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 header-right">
                    <div class="col-md-5"></div>
                    <div class="col-md-7 userprofilename" style="float: right;">
                        <div class="col-md-4" style="float: left; text-align: right;">
                            <img src="assets/img/user.png" style="height: 50px; margin-right: 10px;">
                        </div>
                        <div class="col-md-8" style="float: left; text-align: left;">
                            <h5 style="margin-bottom: 0px;">Akshay Jadhav</h5>
                            <span style="opacity:0.3; font-size: 14px;">Admin</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Content Area Start-->
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">Get GST Data</h3>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
            <div class="row dashboardcard">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 innercardbig">
                            <span class="cardtoprighticon"><i class="ri-checkbox-circle-fill"></i></span>
                            <div class="row">
                             
                                <div class="col-md-12 cardinnerbutton">
                                    <!-- <button class="primarybtn" (click)="load('/gstr2b')">Download 2B From GSTN</button> -->
                                   
                                    
                                    <button class="primarybtn">Download 2B From GSTN</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 innercardbig">
                            <span class="cardtoprighticon"><i class="ri-checkbox-circle-fill"></i></span>
                            <div class="row">
                             
                                <div class="col-md-12 cardinnertitlecaption">
                                    <p>Purchase documents import through writer</p>
                                </div>
                                <div class="col-md-12 cardinnerbutton">

                                    <!-- <button class="primarybtn" (click)="load('/gstrpr')">Import Purchase Docs</button> -->
                                    <button class="primarybtn">Import Purchase Docs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 innercardbig">
                            <span class="cardtoprighticon"><i class="ri-refresh-fill"></i></span>
                            <div class="row">
                                
                                
                                <div class="col-md-12 cardinnertitlecaption">
                                    <div class="row">
                                        <div class="col-md-6"><p>2B Downloaded - <span>2760</span></p></div>
                                        <div class="col-md-6"><p>My Purchases - <span>2760</span></p></div>
                                    </div>
                                </div>
                                <div class="col-md-12 cardinnerbutton">
                                    <!-- <button class="highlightbtn" (click)="load('/someOtherRoute')">Start Reconciliation</button> -->

                                    <button class="highlightbtn">Start Reconciliation</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </router-outlet>