<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding-top: 30px;"><img style="margin: 0 auto; width: 60%; text-align: center;" src="assets/img/Logo.png"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <section id="outerbox">
      <div class="container main-div">
          <div class="row">
              <div class="col-md-7" style="align-items: center; display: flex;">
                <div class="row">
                    <img src="assets/img/otp.png" style="width: 60%; margin: 0 auto;">
                    <div class="col-md-12 productinfo">
                    <h4>Automate your ITC Reconciliation</h4>
                    <ul>
                        <li>Automatic Daily Reconciliation of Books with GSTR2A & GSTR2B</li>
                        <li>AI based Matching</li>
                    </ul>
                    </div>
                </div>
              </div>
              <div class="col-md-5" style="align-items: center; display: flex;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>Enter OTP</h2>
                    <p style="margin-bottom: 40px;">We sent OTP code to your email address</p>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-2">
                        <input #otp1 (input)="focusNext(otp1, otp2)" (keydown)="onKeyDown($event, otp1, undefined, otp2)" maxlength="1" type="text" placeholder="_" class="form-feild otpbox">
                      </div>
                      <div class="col-md-2">
                        <input #otp2 (input)="focusNext(otp2, otp3)" (keydown)="onKeyDown($event, otp2, otp1, otp3)" maxlength="1" type="text" placeholder="_" class="form-feild otpbox">
                      </div>
                      <div class="col-md-2">
                        <input #otp3 (input)="focusNext(otp3, otp4)" (keydown)="onKeyDown($event, otp3, otp2, otp4)" maxlength="1" type="text" placeholder="_" class="form-feild otpbox">
                      </div>
                      <div class="col-md-2">
                        <input #otp4 (input)="focusNext(otp4, otp5)" (keydown)="onKeyDown($event, otp4, otp3, otp5)" maxlength="1" type="text" placeholder="_" class="form-feild otpbox">
                      </div>
                      <div class="col-md-2">
                        <input #otp5 (input)="focusNext(otp5, otp6)" (keydown)="onKeyDown($event, otp5, otp4, otp6)" maxlength="1" type="text" placeholder="_" class="form-feild otpbox">
                      </div>
                      <div class="col-md-2">
                        <input #otp6 (input)="focusNext(otp6)" (keydown)="onKeyDown($event, otp6, otp5)" (keyup.enter)="submitOtp()" maxlength="1" type="text" placeholder="_" class="form-feild otpbox">
                      </div>
                      <div class="col-md-12">
                        <p style="text-align: center;">Don’t Recive OTP? <a href="#" class="t-link">Resend</a><br><span style="color: #008AEC;">01M:55s</span></p>
                      </div>
                      <div class="col-md-12">
                        <button (click)="requestPasswordOTP()" class="primarybtn">Confirm</button> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>