<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title">
        <img style="margin: 0 auto; width: 90%; text-align: center;" src="assets/img/Logo.png">
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link" (click)="executeAPICallForDashboard()">
        <!-- <div class="content"  [routerLinkActive]="'active'"> -->
          <div class="content" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
          <div class="icon">
            <span class="sidemenu-icon"><i class="ri-dashboard-3-line"></i></span>
          </div>
          <div class="title" style="font-weight: bold;">Dashboard</div>

        </div>
      </div>  

      <div class="link with-children">
        <div class="content" [routerLink]="['/configuration']" [routerLinkActive]="'active'">
          <div class="icon">
            <span class="sidemenu-icon"><i class="ri-arrow-right-s-line"></i></span>
          </div>
          <div class="title" style="font-weight: bold;" >GST Sync</div>
        </div>
        <!-- <div class="children">
          <div class="link">
            <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '1' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <span class="sidemenu-icon"><i class="ri-dashboard-3-line"></i></span>
              </div>
              <div class="title">Add Company</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '2' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <span class="sidemenu-icon"><i class="ri-dashboard-3-line"></i></span>
              </div>
              <div class="title">Profile</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '3' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <span class="sidemenu-icon"><i class="ri-dashboard-3-line"></i></span>
              </div>
              <div class="title">child 3</div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
          <div class="icon">
            <span class="sidemenu-icon"><i class="ri-user-4-line"></i></span>
          </div>
          <div class="title" style="font-weight: bold;">My Profile</div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
          <div class="icon">
            <span class="sidemenu-icon"><i class="ri-settings-3-line"></i></span>
          </div>
          <div class="title" style="font-weight: bold;">Setting</div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>