.content {
    margin-left: 60px;
    padding: 20px;
    background-color: #F9F9F9;
    height: 100vh;
    transition: 0.3s;
    &.sidebarExpanded {
      margin-left: 250px;
    }

    .scrollable-table-container {
        max-height: 100vh;/* or whatever height you prefer */
        overflow-y: hidden; /* vertical scroll */
        display: block;
    }
    .table-container {
        height:  67vh; /* Set the desired height for the container */
        overflow: auto; /* Add a vertical scrollbar if the table content overflows the container */
        /* Control the table width */
        width: 100%; /* Make the table as wide as the container */
      }

    .header{
        // background-color: #fff;
        // border-radius: 20px;
        padding: 10px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;

        input{
            background-color: #fff;
            margin: 0px !important;
            height: 40px;
        }
        .header-right{
            text-align: right;

            .userprofilename{
                text-align: left;
            }
        }
    }
    .maintitlecaption{
        width: 100%;
        opacity: 0.6;
        font-size: 14px;
    }

    button{
        margin-top: 10px;
        
        .btnicon{

        }
    }

    .dropdownlist{
        width: 100%;
        height: 50px;
        border-radius: 0px;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid var(--secondayColor);
    }
  }
  
  
  .back-button {
    padding: 8px 15px;
    background-color: #080808;
    color: #fdfcfc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    // margin-right:2000px;
  }
  
mat-tab-group{
    background-color: #fff !important;
    font-family: "poppins" !important;
  }
  
  
  ::ng-deep .mat-mdc-tab{
    // background-color: #FFA602 !important;
    flex-grow: unset !important;
  
    .columnheader{
      text-transform: uppercase !important;
    }
  }
  ::ng-deep .mdc-tab-indicator--active{
    background-color: #000 !important;
    border-radius: 5px;
    .mdc-tab__text-label{
      color: #fff !important;
    }
  }
  
  ::ng-deep{
    .scrollable-grid{
      border: 0px !important;
      padding: 10px !important;
    }
  }
  
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  ::-webkit-scrollbar {
    height: 5px;
  }

  .right-header{
    margin-bottom: 20px;
  }

    h3{
        margin-bottom: 0px !important;
        margin-top: 10px;
    }