.content {
    margin-left: 60px;
    padding: 20px;
    background-color: #F9F9F9;
    height: 100vh;
    transition: 0.3s;
    &.sidebarExpanded {
      margin-left: 250px;
    }

    .scrollable-table-container {
        max-height: 475px;/* or whatever height you prefer */
        overflow-y: auto; /* vertical scroll */
        display: block;
    }
    

    .back-button-container {
        text-align: right;
    }
    .back-button {
        padding: 8px 15px;
        background-color: #080808;
        color: #fdfcfc;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;
        margin-right:2000px;
    }
    
    .back-button:hover {
        background-color: #e0e0e0;
    }

    .table-container {
        height: 400px; /* Set the desired height for the container */
        overflow: auto; /* Add a vertical scrollbar if the table content overflows the container */
      
        /* Control the table width */
        width: 100%; /* Make the table as wide as the container */
      }

    .header{
        // background-color: #fff;
        // border-radius: 20px;
        padding: 10px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;

        input{
            background-color: #fff;
            margin: 0px !important;
            height: 40px;
        }
        .header-right{
            text-align: right;

            .userprofilename{
                text-align: left;
            }
        }
    }
    .maintitlecaption{
        width: 100%;
        opacity: 0.6;
        font-size: 14px;
    }

    button{
        margin-top: 10px;
        
        .btnicon{

        }
    }

    .dropdownlist{
        width: 100%;
        height: 50px;
        border-radius: 0px;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid var(--secondayColor);
    }
  }
  
  