<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding-top: 30px;"><img style="margin: 0 auto; width: 60%; text-align: center;" src="assets/img/Logo.png"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <section id="outerbox">
      <div class="container main-div">
          <div class="row">
              <div class="col-md-7" style="align-items: center; display: flex;">
                <div class="row">
                    <img src="assets/img/signup.png" style="width: 60%;">
                    <div class="col-md-12 productinfo">
                    <h4>Automate your ITC Reconciliation</h4>
                    <ul>
                        <li>Automatic Daily Reconciliation of Books with GSTR2A & GSTR2B</li>
                        <li>AI based Matching</li>
                    </ul>
                    </div>
                </div>
              </div>
              <div class="col-md-5" style="align-items: center;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>Sign Up</h2>
                    <p>If you are a new user ? <a href="#" class="t-link">Sign In</a></p>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" placeholder="First Name"  class="form-feild">
                      </div>
                      <div class="col-md-6">
                        <input type="text" placeholder="Last Name"  class="form-feild">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <input type="number" placeholder="Mobile No"  class="form-feild">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <input type="email" placeholder="Email ID"  class="form-feild">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input type="password" placeholder="Password"  class="form-feild">
                      </div>
                      <div class="col-md-6">
                        <input type="password" placeholder="ConfirmPassword"  class="form-feild">
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6">
                    <input style="width: 15px; height: 15px; float: left;" type="checkbox"><label style="font-size: 14px; float: left; margin-left: 10px;" for="vehicle1"> Remember Me</label>
                  </div>
                  <div class="col-md-6" style="text-align: right;">
                    <a (click)="navigateToForgotPassword()" class="t-link">Forgot Password</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="primarybtn">Sign Up</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>